.details {
  flex-grow: 1;
  padding: 1rem 0.5rem 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.details__phrase {
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  padding: 0.5rem 0.7rem;
}

.games {
  padding-left: 2rem;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  padding: 0.5rem 0.7rem;
}

.games__phrase {
  color: var(--font-color-primary);
}

.games__list {
  padding-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.games__item {
  color: var(--font-color-secondary);
}

.barra {
  color: var(--font-color-secondary);
}

.barra:last-child {
  display: none;
}
