.pokemon__page {
  margin-top: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.nome {
  font-size: 24px;
  margin-bottom: 10px;
}

.id__pokemon {
  margin-left: 8px;
  font-size: 24px;
  color: #777777;
}
