.pokemon__page {
  padding: 2.5%;
  border-radius: 1em;
  max-width: 1240px;
  margin: 0 auto;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 2px solid var(--primary-color);
}

.name__image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nome {
  font-size: 1.7rem;
  font-family: var(--font-primary);
  color: var(--font-color-primary);
}

.id__pokemon {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: var(--font-color-secondary);
}

.list__type {
  padding: 1em;
}

.pokemon__image {
  margin-top: -2em;
  height: 18em;
  width: 18em;
}

.data {
  width: 288px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.game_data {
  border-top: 2px solid var(--primary-color);
  padding-top: 1em;
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

@media screen and (max-width: 425px) {
  .info {
    display: flex;
    flex-direction: column;
  }

  .game_data {
    flex-direction: column-reverse;
    align-items: center;
  }
}
