.moves {
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moves__title {
  font-size: 20px;
  color: var(--t-color);
}

.moves__total {
  font-size: 18px;
  color: var(--t-color);
}

.moves__total span {
  color: var(--r-color);
  font-weight: bold;
}

.moves__list {
  border: 1px solid var(--r-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
  background-color: var(--w-color);
}

.moves__item {
  display: flex;
  align-items: center;
  gap: 8px;
  border-top: 1px solid var(--r-color);
}

.moves__item:first-child {
  border: none;
}

.item__name {
  width: 120px;
  margin-left: 8px;
  text-align: center;
  color: var(--t-color);
}

.borda_vertical {
  height: 100%;
  width: 1px;
  background-color: var(--r-color);
}
