.moves {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.moves__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.moves__title {
  font-size: 1.25rem;
  color: var(--font-color-secondary);
  padding-left: 1.5rem;
}

.moves__total {
  font-size: 1.065rem;
  color: var(--font-color-primary);
  padding-right: 2rem;
}

.moves__total span {
  color: var(--font-color-secondary);
  font-weight: 500;
  font-family: var(--font-primary);
}

.moves__list {
  border: 2px solid var(--primary-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.moves__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-top: 2px solid var(--primary-color);
}

.moves__item:first-child {
  border: none;
}

.item__name {
  width: 6rem;
  margin-left: 8px;
  text-align: center;
  font-family: var(--font-primary);
  color: var(--font-color-secondary);
}

.borda_vertical {
  height: 100%;
  width: 2px;
  background-color: var(--primary-color);
}

.seta__container {
  text-align: center;
}

.seta {
  color: var(--secondary-color);
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.25s;
}

.seta:hover {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}
