.abilities {
  border-bottom: 1px solid var(--t-color);
  padding-bottom: 4px;
}

.abilities__title {
  padding-bottom: 4px;
  font-size: 20px;
  color: var(--t-color);
}

.list {
  margin: 0 8px;
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.list__item {
  border-top: 1px solid var(--e-color);
  padding-top: 4px;
  display: flex;
  gap: 4px;
  color: var(--t-color);
}

.list__item:first-child {
  border: none;
  padding-top: 0;
}

.is_hidden {
  font-size: 14px;
  color: var(--r-color);
}
