.abilities__title {
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  color: var(--font-color-secondary);
}

.list {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
}

.list__item {
  border-top: 2px solid var(--primary-color);
  padding: 0.5rem 0.7rem;

  display: flex;
  align-items: center;
  gap: 0.25em;
  color: var(--font-color-primary);
}

.list__item:first-child {
  border: none;
}

.is_hidden {
  font-size: 0.75rem;
  color: var(--font-color-secondary);
  font-family: var(--font-primary);
}
