.card {
  max-width: 230px;
  background-color: var(--bg-color);
  border-radius: 16px;
  border: 2px solid var(--primary-color);
}

.img {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.info {
  padding-top: 0.8em;
  border-top: 2px solid var(--primary-color);
}

.info__click {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-left: 1em;
  transition: 0.25s;
}

.name {
  text-align: center;
  color: var(--font-color-primary);
  font-family: var(--font-primary);
}

.id {
  color: var(--font-color-secondary);
  font-weight: 500;
  font-family: var(--font-primary);
}

.seta {
  color: var(--bg-color);
  transition: 0.25s;
}

.img:hover {
  cursor: pointer;
}

.img:hover ~ .info .info__click,
.info__click:hover {
  padding-left: 1.5rem;
  cursor: pointer;
}

.img:hover ~ .info .info__click .seta,
.info__click:hover .seta {
  color: var(--font-color-secondary);
  cursor: pointer;
}

.list {
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
}

.click__nav:hover {
  cursor: pointer;
  padding: 1rem 1.5rem 0 1.5rem;
  background-color: var(--e-color);
}

.click__nav:hover .name {
  color: var(--t-color);
}

.click__nav:hover .id {
  color: var(--r-color);
}

.click__nav:active {
  background-color: var(--w-color);
}
