.simple__page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  color: var(--t-color);
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.limit {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: flex-end;
}

.limit__text {
  font-size: 18px;
  color: var(--t-color);
}

.limit__input {
  border: none;
  background-color: var(--r-color);
  color: var(--q-color);
  border-radius: 3px;
  padding: 0.3em 0.5em;
}

.list__pokemon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.page__nav {
  margin-top: 16px;
  text-align: center;
}

.current__page {
  margin: 8px 0 4px;
}

.button__page {
  background-color: var(--e-color);
  border: 1px solid var(--e-color);
  color: var(--t-color);
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
}

.button__page:hover {
  cursor: pointer;
  border-color: var(--t-color);
}

.button__page:active {
  background-color: var(--t-color);
  border-color: var(--t-color);
  color: var(--e-color);
}

.button__page:disabled {
  background-color: #ededed;
  color: #c9c9c9;
  border-color: #ededed;
  cursor: default;
}

.button__page:last-child {
  margin-left: 8px;
}
