.games {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: 0.25s;
}

.games__title {
  font-size: 1.25rem;
  color: var(--font-color-secondary);
  padding-left: 1.5rem;
}

.games__list {
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  transition: 0.25s;
}

.games__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid var(--primary-color);
  padding: 0.5rem 0.7rem;
}

.games__item:first-child {
  border: none;
}

.item__name {
  color: var(--font-color-primary);
}

.item__index {
  color: var(--font-color-secondary);
}

.index__advert {
  font-size: 0.75rem;
  color: var(--font-color-primary);
}

.seta__container {
  text-align: center;
}

.seta {
  color: var(--secondary-color);
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.25s;
}

.seta:hover {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}
