.header {
  padding: 2rem;
  background-color: var(--e-color);
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: var(--t-color);
}

.name {
  font-size: 28px;
  color: var(--t-color);
  max-width: 1024px;
  margin: 0 auto;
}
