.pokemon__nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 1em;
}

.pokemon__nav svg {
  height: 1.25em;
  width: 1.25em;
  color: var(--font-color-secondary);
}

.name {
  font-size: 1.25em;
  color: var(--font-color-primary);
}

.nav__button {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 0.5em;
  border-radius: 16px;
  transition: 0.25s;
}

.nav__next {
  margin-right: 1em;
  padding-left: 1rem;
}

.nav__prev {
  margin-left: 1em;
  padding-right: 1rem;
}

.nav__button:hover {
  cursor: pointer;
  background-color: var(--primary-color-hover);
  gap: 1em;
}

.nav__next:hover {
  margin-right: 0.5em;
}

.nav__prev:hover {
  margin-left: 0.5em;
}

.nav__button:active {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 425px) {
  .nav__next,
  .nav__prev {
    margin: 0;
    padding: 0.5rem 0.7rem;
  }

  .name {
    display: none;
  }
}
