.stats__title {
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  color: var(--font-color-secondary);
}

.stats__list {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
}

.stats__item {
  border-top: 2px solid var(--primary-color);
  padding: 0.5rem 0.7rem;
  display: flex;
  justify-content: space-between;
  color: var(--font-color-primary);
}

.stats__item:first-child {
  border-top: none;
}

.stats__base {
  color: var(--font-color-secondary);
  font-family: var(--font-primary);
}
