.stats__title {
  font-size: 20px;
  padding-bottom: 4px;
  color: var(--t-color);
}

.stats__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0 8px;
}

.stats__item {
  border-top: 1px solid var(--e-color);
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  color: var(--r-color);
}

.stats__item:first-child {
  border-top: none;
  padding: none;
}

.stats__base {
  color: var(--t-color);
}
