@import "__variaveis.css";

.footer {
  text-align: center;
  background-color: var(--w-color);
  padding: 2rem 0;
}

.link {
  color: var(--t-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.p {
  color: var(--t-color);
  display: inline;
}
