.footer {
  text-align: center;
  background-color: var(--e-color);
  padding: 2rem 0;
}

.link {
  color: var(--t-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:active {
  color: var(--q-color);
}

.link:active ~ .p {
  color: var(--q-color);
}

.p {
  color: var(--t-color);
  display: inline;
}
