.footer {
  border-top: 2px solid var(--primary-color);
  text-align: center;
  padding: 1.5rem 0;
}

.link__container {
  margin: 0 auto;
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  border-radius: 1rem;
}

.link__container:hover {
  background-color: var(--primary-color-hover);
}

.p {
  font-size: 0.85rem;
  color: var(--font-color-primary);
  display: inline;
}
