.types {
  display: flex;
  list-style: none;
  gap: 16px;
}

.type {
  font-size: 14px;
  font-weight: 500;
  padding: 0.5em 0.7em;
  border-radius: 16px;
}

.type__normal {
  border: 2px solid #a8a878;
  color: #a8a878;
}

.type__fire {
  border: 2px solid #f08030;
  color: #f08030;
}

.type__fighting {
  border: 2px solid #c03028;
  color: #c03028;
}

.type__water {
  border: 2px solid #6890f0;
  color: #6890f0;
}

.type__flying {
  border: 2px solid #a890f0;
  color: #a890f0;
}

.type__grass {
  border: 2px solid #78c850;
  color: #78c850;
}

.type__poison {
  border: 2px solid #a040a0;
  color: #a040a0;
}

.type__electric {
  border: 2px solid #f8d030;
  color: #f8d030;
}

.type__ground {
  border: 2px solid #e0c068;
  color: #e0c068;
}

.type__psychic {
  border: 2px solid #f85888;
  color: #f85888;
}

.type__rock {
  border: 2px solid #b8a038;
  color: #b8a038;
}

.type__ice {
  border: 2px solid #98d8d8;
  color: #98d8d8;
}

.type__bug {
  border: 2px solid #a8b820;
  color: #a8b820;
}

.type__dragon {
  border: 2px solid #7038f8;
  color: #7038f8;
}

.type__ghost {
  border: 2px solid #705898;
  color: #705898;
}

.type__dark {
  border: 2px solid #705848;
  color: #705848;
}

.type__steel {
  border: 2px solid #b8b8d0;
  color: #b8b8d0;
}

.type__fairy {
  border: 2px solid #ee99ac;
  color: #ee99ac;
}
