.evolution {
  border-radius: 8px;
  background-color: var(--e-color);
  padding: 1.5rem 3rem 2.5rem;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.14);
}

.evolution__title {
  font-size: 20px;
  padding-bottom: 16px;
  font-weight: bold;
  color: var(--q-color);
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: nowrap;
}

.list__pointer {
  width: 28px;
  height: 28px;
  color: var(--q-color);
}

.list__pointer:last-child {
  display: none;
}
