.evolution {
  border-radius: 16px;
  padding: 1em 1.75rem 1.5rem;
  background-color: var(--bg-color-secondary);
  display: inline-block;
  margin: 1.5rem auto 0;
}

.evolution__container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0 0 1.2rem 1.5rem;
}

.evolution__icon {
  height: 1.25rem;
  width: 1.25rem;
  color: var(--font-color-secondary);
}

.evolution__title {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--font-color-secondary);
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: nowrap;
}

.list__pointer {
  width: 2rem;
  height: 2rem;
  color: var(--secondary-color);
}

.list__pointer:last-child {
  display: none;
}

@media screen and (max-width: 768px) {
  .evolution__container {
    padding: 0;
    padding-bottom: 1.25rem;
  }

  .list__pointer {
    transform: rotate(90deg);
  }

  .list {
    flex-direction: column;
  }
}
