.title {
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  color: var(--font-color-secondary);
}

.data__list {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 0.5rem 0.7rem;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
}

.barra {
  font-weight: 500;
  color: var(--primary-color);
}

.list__item {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}

.item__name {
  color: var(--font-color-primary);
  font-size: 0.95em;
}

.item__data {
  color: var(--font-color-secondary);
  font-family: var(--font-primary);
}
