.title {
  padding-bottom: 4px;
  font-size: 20px;
  color: var(--t-color);
}

.metrics {
  padding-bottom: 4px;
  border-bottom: 1px solid var(--t-color);
}

.data__list {
  margin: 0 8px;
  gap: 8px;
  display: flex;
}

.list__item {
  display: flex;
  gap: 8px;
}

.list__item:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--e-color);
}

.item__name {
  color: var(--r-color);
}

.item__data {
  color: var(--t-color);
}
